.weather-container {
    height: 150px;
    width: 100%;
    @include flex-row;

    &__main-temp {
        width: 30%;

        &--big {
            color: $primary-color;
            font-size: 8vh;
        }

        &--small {
            font-size: 2vh
        }

        @include small-tablet {
            width: 100%;
            text-align: center;
            margin: auto;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    &__info {
        width: 30%;

        .info-humidity {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        &--itm {
            @include flex-row;

            .info-param {
                font-size: 2.5vh;
                width: 50%;
                text-align: start;
            }

            @include small-tablet {
                margin: auto;
                width: 33%
            }
        }

        @include small-tablet {
            @include flex-row;
            margin: auto;
            width: 100%;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 2;
        }

        @include phone {
            margin-top: 10px;

            display: block;
        }
    }

    &__icon {
        width: 30%;

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
        }

        @include small-tablet {
            grid-row-start: 1;
            grid-row-end: 2;
            margin: auto;
            width: 100%;
        }
    }

    @include small-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 250px;
    }
}

.info-icon {
    margin-right: 10px;
    margin-left: auto;
    width: 25px;
    height: 25px;

    img {
        opacity: 0.8;
        width: 100%;
    }
}