.details {
    @include flex-row;
    justify-content: space-around;
    align-items: flex-start;

    margin-top: 20px;
    width: calc(100% + 100px);

    @include small-tablet {
        flex-direction: column;
    }
}

.details__param {
    text-align: center;
    width: 50%;

    &--title {
        font-size: 2.5vh;
        color: $city-color;
        margin-bottom: 10px;
    }

    .details__param-itm {
        display: flex;
        justify-content: center;
        font-size: 2vh;
        margin-bottom: 5px;

        div {
            width: 50%;
        }

        .separator {
            width: 10px;
        }

        :first-child {
            text-align: end;
        }

        :last-child {
            text-align: start;
        }
    }

    @include small-tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}