body {
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    text-align: center;
    background-color: bisque;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // height: 500px;
    margin: 0 20%;
}

