.change-system {
    margin-bottom: 40px;
    // border: 1px solid rgba(0, 0, 0, 0.067);
    border-radius: 10px;
    text-align: center;    
    outline: none;
}

.system-btn {
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: bisque;
    font-family: 'Nunito', sans-serif;
    color: $primary-color;
    font-size: 3vh;
}

.system-active {
    background-color: rgba(235, 110, 75, 0.621);
}

.system-disabled {
    background-color: bisque;

}
